.navigation {
  padding: 15px 118px;
  background-color: #fff;
  border: 2px solid green;
  border-top: 0;
  &__list {
    font-size: 18px;
    font-weight: 400;
    padding: 0;
    display: flex;
    justify-content: space-between;
    & a {
      color: #000;
    }
  }
}

@media screen and (600px < width <= 1000px) {
  .navigation {
    &__list {
      font-size: 14px;
    }
  }
}


@media screen and (max-width: 600px) {
  .navigation {
    padding: 15px 18px;
    &__list {
      font-size: 10px;
    }
  }
}